
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(to bottom, #771e78, #2e308c, #3f3ba6);
      color: white;
      height: 100vh;
      overflow: hidden;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 60px;
      margin-top: 1px;
    }

    .logo {
      font-weight: bold;
      font-size: 20px;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-size: 16px;
    }

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #40B3A2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}


.btn:hover {
  opacity: .95;
  text-align: center;
}


.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
  text-align: center;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

    .hero {
      text-align: center;
      margin-top: 100px;
    }

    .hero h1 {
      font-size: 48px;
      margin-bottom: 10px;
    }

    .hero p {
      font-size: 16px;
      max-width: 500px;
      margin: 0 auto 30px;
      color: #ddd;
    }

    .read-more {
      background-color: #00f2ff;
      padding: 12px 30px;
      border-radius: 25px;
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

   

    .credit {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: #aaa;
    }
